name: Build Kernel - ChromeOS ARCVM ARM64

on:
  workflow_dispatch:

jobs:
  build:
    name: Build ChromeOS ARM64 kernel
    runs-on: ubuntu-20.04
    env:
      LTO: thin
    steps:
      - name: Install Build Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends bc \
              bison build-essential ca-certificates flex git gnupg \
              libelf-dev libssl-dev lsb-release software-properties-common wget \
              libncurses-dev binutils-aarch64-linux-gnu gcc-aarch64-linux-gnu rsync python3 device-tree-compiler
          sudo ln -s --force python3 /usr/bin/python
          # Setup LLVM/Clang
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 12
          sudo ln -s --force /usr/bin/clang-12 /usr/bin/clang
          sudo ln -s --force /usr/bin/ld.lld-12 /usr/bin/ld.lld

      - name: Checkout KernelSU
        uses: actions/checkout@v3
        with:
          repository: tiann/KernelSU
          path: KernelSU

      - name: Setup kernel source
        run: git clone https://chromium.googlesource.com/chromiumos/third_party/kernel.git -b chromeos-5.10-arcvm --depth=1 kernel

      - name: Setup KernelSU
        working-directory: kernel
        run: |
          ln -sf $GITHUB_WORKSPACE/KernelSU/kernel drivers/kernelsu
          grep -q "kernelsu" drivers/Makefile || echo "obj-y += kernelsu/" >> drivers/Makefile
          # Apply 5.10 patches
          cd $GITHUB_WORKSPACE/kernel && git apply $GITHUB_WORKSPACE/KernelSU/.github/patches/5.10/*.patch

      - name: Build Kernel
        working-directory: kernel
        run: |
          export ARCH=arm64
          export CROSS_COMPILE=aarch64-linux-gnu-
          make LLVM=1 LLVM_IAS=1 O=${PWD} arm64_arcvm_defconfig
          make LLVM=1 LLVM_IAS=1 O=${PWD} -j$(nproc) Image
          echo "file_path=${PWD}/arch/arm64/boot/Image" >> $GITHUB_ENV

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: kernel-Ciri-ARM64
          path: "${{ env.file_path }}" 

          
